{{#partial "subtitle"}}管理者アカウント登録確認{{/partial}}
{{#partial "main_content"}}
  <div class="row">
  <form id="account" name="account" action="/manage/" style="display: block;">
    <div class="large-8 columns">
      <label>メールアドレス:</label>
      {{mail}}
    </div>
    <div class="large-8 columns">
      <label>パスワード:</label>
      ********
    </div>
    <div class="large-8 columns">
      <label>名前:</label>
      {{name}}
    </div>
    <div class="large-8 columns">
      二段階認証
      <img src="{{qrcode}}">
    </div>
    <div class="large-8 columns">
      <a id="confirm" href="/manage/" class="small button">確認</a>
    </div>
  </form>
</div>
{{/partial}}
{{> base}}
