{{#partial "subtitle"}}管理者アカウント登録{{/partial}}
{{#partial "script"}}
  <script type="application/javascript">
    $(function() {
//      $("#registerAccount").off("click");
      $("#registerAccount").on("click", function(){
        var form = $("#account");
        form.attr("action", "/manage/account/" + (form.find("[name=id]").val() || 0));
        form.submit();
      });
    });
  </script>
{{/partial}}
{{#partial "main_content"}}
  <div class="row">
    <form id="account" name="account" method="post" style="display: block;">
      <div class="large-8 columns">
        <h3>管理者アカウント登録</h3>
      </div>
      <div class="large-8 columns">
        <label>メールアドレス:</label>
        <input name="mail" type="email" value="{{mail}}" required>
      </div>
      <div class="large-8 columns">
        <label>パスワード:</label>
        <input type="password" name="password" required>
      </div>
      <div class="large-8 columns">
        <label>名前:</label>
        <input name="name" type="text" value="{{name}}" required>
      </div>
      <div class="large-8 columns">
        <input id="gauth" name="gauth" type="checkbox" value="true"{{#gauth}} checked{{/gauth}}><label for="gauth">二段階認証</label>
      </div>
      <div class="large-8 columns">
        <input name="id" type="hidden" value="{{id}}">
        <a id="registerAccount" href="#" class="small button">登録</a>
      </div>
    </form>
  </div>
{{/partial}}
{{#partial "navbar"}}
  {{> manage/navbar}}
{{/partial}}
{{>base}}
