<div class="row">
  <form id="item" name="item" style="display: block;">
    <div class="large-8 columns">
      <label>メールアドレス:</label>
      <input name="mail" type="email" value="{{mail}}" required>
    </div>
    <div class="large-8 columns">
      <label>パスワード:</label>
      <input type="password" name="password" required>
    </div>
    <div class="large-8 columns">
      <label>名前:</label>
      <input name="name" type="text" value="{{name}}" required>
    </div>
    <div class="large-8 columns">
      <input id="gauth" name="gauth" type="checkbox" value="true"{{#gauth}} checked{{/gauth}}><label for="gauth">二段階認証</label>
    </div>
    <div class="large-8 columns">
      <input name="id" type="hidden" value="{{id}}">
      <a id="registerAccount" href="#" class="small button">登録</a>
    </div>
  </form>
  <script type="application/javascript">
    $(function() {
      $("#registerAccount").off("click");
      $("#registerAccount").on("click", function(){
        var form = $("#item");
        var formData = new FormData();
        var account = {
          id: form.find("[name=id]").val(),
          name: form.find("[name=name]").val(),
          mail: form.find("[name=mail]").val(),
          password: form.find("[name=password]").val(),
          role: 0,
          gauth: form.find("[name=gauth]:checked").length > 0 ? true:false
        };
        formData.append("account", JSON.stringify(account));
        $.ajax({
          async: true,
          url: "/manage/account/" + account.id,
          type: "post",
          data: formData,
          contentType: "multipart/form-data",
          processData: false,
          success: function(doc) {
            $('#target_body').html(doc);
          }
        });
      });
    });
  </script>
</div>
