{{#partial "subtitle"}}管理者用ログイン(２段階認証){{/partial}}
{{#partial "script"}}
  <script type="application/javascript">
    $(function() {
      $("#login").on("click", function(){
        $("#login").submit();
      });
    });
  </script>
{{/partial}}
{{#partial "main_content"}}
  <div class="row">
    <form id="login" name="login" method="put" action="/manage/login" style="display: block;">
      <div class="large-8 columns">
        <h3>管理者用ログイン(２段階認証)</h3>
      </div>
      <div class="large-8 columns">
        <label>パスコード:</label>
        <input type="password" name="passcode" required>
      </div>
      <div class="large-8 columns">
        <input type="hidden" name="id" value="{{id}}">
        <a id="login" href="#" class="small button">ログイン</a>
      </div>
    </form>
  </div>
{{/partial}}
{{#partial "navbar"}}
  {{> navbar}}
{{/partial}}
{{> base}}